@model List<string>

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Send new request</h1>
<hr />
<br>
<div class="row container d-flex justify-content-center">
    <div class="col-md-4">
        <form method="post" asp-controller="Contacts" asp-action="Create">
            <div class="form-group">
                <label for="movie">Username:</label>
                <select class="form-control" id="Username" name="Username" required>
                    @foreach (var m in Model)
                    {
                        <option value="@m">@m</option>
                    }
                </select>
            </div>
            <br>
            <div class="button-box col-lg-12">
                <a class="btn btn-info" asp-action="Index">Back to contacts</a>
                <button type="submit" class="btn btn-primary mt-2">Send Request</button>
            </div>
            
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
