@model List<string>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Requests">See your requests</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Email
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item
            </td>

        </tr>
}
    </tbody>
</table>
